<li>
    {{name}}

    <button class="change-devour" data-id="{{id}}" data-newsleap="{{devour}}">
        {{#if devour}}IT'S DEVOURED!{{else}}WAKE UP!{{/if}}
    </button>

    <button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
</li>